
<h1>Stupid Coaching</h1>
<div class="question_card">
<strong><p><%=@question %></p></strong>
<i>-You</i>
</div>

<div class="question_answer">
<strong><p><%=@answer %></p></strong>
<i>-Your Coach</i>
</div>

<%= link_to "Ask a new question", ask_path %>